<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to FeedRSS</title>
    <link rel="icon" type="image/png" sizes="32x32" href="<%= image_path '/icons/icon.png' %>">

    <%= csrf_meta_tags %>

    <script src="https://use.fontawesome.com/1992fa7999.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
